.BuildControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.BuildControl button {
  display: block;
  font: inherit;
  padding: 5px;
  margin: 0 5px;
  width: 80px;
  cursor: pointer;
  outline: none;
}

.BuildControl button:disabled {
  background-color: #e2e8f0;
  border: 1px solid #cbd5e0;
  color: #ccc;
  cursor: default;
}

.BuildControl button:hover:disabled {
  background-color: #e2e8f0;
  color: #ccc;
  cursor: not-allowed;
}

.Label {
  padding: 10px;
  font-weight: bold;
  width: 80px;
}

.BuildControl .Less {
  background-color: #fc8181;
  border: 1px solid #fc8181;
  color: white;
}

.BuildControl .More {
  background-color: #68d391;
  border: 1px solid #68d391;
  color: white;
}

.BuildControl .Less:hover,
.BuildControl .Less:active {
  background-color: #feb2b2;
  border: 1px solid #feb2b2;
  color: white;
}

.BuildControl .More:hover,
.BuildControl .More:active {
  background-color: #9ae6b4;
  border: 1px solid #9ae6b4;
  color: white;
}
