.Boba {
  width: 100%;
  margin: auto;
  height: 250px;
  overflow: scroll;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.Cup {
  width: 50%;
  height: 70%;
  border: 6px solid black;
  border-top: 2px solid transparent;
  border-radius: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 2% auto;
  background-color: burlywood;
}

@media (min-width: 500px) and (max-height: 401px) {
  .Boba {
    width: 350px;
    height: 300px;
  }
}

@media (min-width: 500px) and (min-height: 401px) {
  .Boba {
    width: 450px;
    height: 400px;
  }
}

@media (min-width: 1000px) and (min-height: 700px) {
  .Boba {
    width: 700px;
    height: 600px;
  }
}
